{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/mdb.min.css' %}">
    <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
    <link href="{% static 'fontawesomefree/css/all.min.css' %}" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/home.css' %}">
<style>
  #card{
    margin-left: 370px;
    margin-top: 130px;
  
  }
  form{
    text-align: center;
    
  }
 
  label::after{
    
    content: " *";
    color: red;
    font-weight: bold;
  }
  label{
    display: block;
  }
  body{
    background-image: url("{% static 'images/logo.png' %}");
    background-repeat: no-repeat;
    background-size: cover;

  }
  input{
    table-layout: fixed;
  }
  
</style>
    
    
</head>
<!-- Nav Bar -->
    
 <!-- Nav Bar -->
    
 <nav class="navbar  bg-light" >
    <div class="container">
      <a class="navbar-brand" href="#">
        <img
          src="{% static 'images/logo.png' %}"
          height="50px"
          alt="MDB Logo"
          loading="lazy"
          width="150px"
        />
     
      </a>
      <div>
        <div>
          <a href="" style="padding-right: 15px;"><i class="fa-solid fa-house"></i>Home</a>
          <a href="#carouselExampleInterval" style="padding-right: 15px;"><i class="fa-solid fa-newspaper"></i>Clientle</a>
          <a href="#contact" style="padding-right: 15px;"><i class="fa-solid fa-phone"></i>Contact</a>
          
      </div>
  
      
    </div>
  </nav>

<body>
    















    <!-- script -->
    <script src="{% static 'js/mdb.min.js' %}"></script>

    
</body>
</html>